extends layout

block content
  h2= title
  
  if errors
    .errors
      ul
        each error in errors
          li= error.msg
  
  form(action=formAction, method=formMethod)
    .form-group
      label(for='title') Book Title
      input#title(type='text', name='title', value=review.title || '')
    
    .form-group
      label(for='author') Author
      input#author(type='text', name='author', value=review.author || '')
    
    .form-group
      label(for='genre') Genre
      input#genre(type='text', name='genre', value=review.genre || '')
    
    .form-group
      label(for='rating') Rating (1-5)
      select#rating(name='rating')
        - for (let i = 1; i <= 5; i++)
          option(value=i, selected=review.rating == i)= i
    
    .form-group
      label(for='content') Review
      textarea#content(name='content', rows='5')= review.content || ''
    
    .form-actions
      button.btn.primary(type='submit') Save Review
      a.btn(href='/reviews') Cancel